.img-con-descripcion {
    position: relative;

    img {
        width: auto;
        height: 900px;
        position: absolute;
        top: 50px;
        left: -3%;
        z-index: 0;

        @media (max-width: 1000px) {
            left: -8%;
            height: 600px;
            opacity: .8;
            top: 0;
        }
        
    }
    
    .text-container {
        padding: 0 20px;
        display: flex;
        align-items: center;
        z-index: 999;
        background-color: rgba(238, 238, 238, 0.712);
        
        h2 {
            font-size: $size_44;
            margin-bottom: $size_10;
            font-weight: $weight_extrabold;
        }
 
        p {
            font-size: $size_18;
        }
    
        @media (max-width: 768px) {
            padding: 20px;
            text-align: center;
            border-radius: 4px;

            h2 {
                font-size: $size_32;
            }
        }
    }
}

.portfolio {
    background-color: $color_white;

    h2 {
        font-size: $size_44;
        margin-bottom: $size_14;
        font-weight: $weight_extrabold;
        text-align: end;
    }

    .cpt-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        grid-auto-rows: 110px;
        
        &__item {
            position: relative;
            overflow: hidden;
    
            &:nth-child(1) { grid-row: span 2; }
            &:nth-child(2) { grid-row: span 3; }
            &:nth-child(3) { grid-row: span 2; }
            &:nth-child(4) { grid-row: span 3; }
            &:nth-child(5) { grid-row: span 2; }
            &:nth-child(6) { grid-row: span 3; }
            &:nth-child(7) { grid-row: span 2; }
            &:nth-child(8) { grid-row: span 2; }
            &:nth-child(9) { grid-row: span 2.5; }
        }
    
        &__image {
            position: relative;
            height: 100%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.3s ease;
            }
    
            .cpt-grid__overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                text-align: center;
    
                h3 {
                    margin: 0;
                    font-size: 1.5rem;
                }
    
                p {
                    font-size: 1rem;
                    padding: 0 20px;
                    margin-top: 6px;
                }
            }
    
            &:hover {
                img {
                    opacity: 0.5;
                }
    
                .cpt-grid__overlay {
                    opacity: 1;
                }
            }
        }
    }
    
    @media (max-width: 768px) {
        .cpt-grid {
            grid-template-columns: repeat(2, 1fr);

            .cpt-grid__overlay {
                h3 {
                    font-size: $size_16;
                }
    
                p {
                    font-size: $size_14;
                    padding: 0 12px;
                    margin-top: 4px;
                }
            }
        }
    
        h2 {
            font-size: $size_38;
        }


    }
    
}


/* Estilos generales para el formulario de Contact Form 7 */
.wpcf7 form {
    max-width: 800px;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px $size_10 rgba(92, 92, 92, 0.1);
    background-color: $color_white;
}

.my-input-class {
    width: 100%;
    padding: $size_10;
    margin-bottom: $size_10;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.my-textarea-class {
    width: 100%;
    padding: $size_10;
    margin-bottom: $size_10;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 150px;
}

.container label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-size: 16px;
    color: #555;
}

.input-field:focus {
    border-color: $color_main_regular;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
    outline: none;
}

.wpcf7-submit {
    display: block;
    width: 100%;
    padding: 15px;
    color: #fff;
    background-color: $color_main_regular;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: $size_18;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color_main_regular_hover;
    }
}

.contact-title {
    font-size: $size_32;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 4px;
}

.button--whatsapp {

	text-decoration: none;
	border-width: 2px;
	border-style: none;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #25D366;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
    min-height: 45px;
    min-width: 45px; 
    border-radius: 50%;
    cursor: pointer;
    z-index: 99999999;
    padding: 14px !important;
    transition: all 0.3s ease;

    &::after {
        content: url('./../imgs/icon-whatsapp.svg');
        scale: 1.1;
        top: 2px;
        position: relative;
        left: 0px;
    } 

    span {
        display: none;
        position: absolute;
        left: -160px;
        top: 18px;
        box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
        background: rgba(128, 128, 128, 0.85);
        color: $color_white;
        padding: 12px; 
        margin: 0 auto;
        font-size: 14px;
        &::before {
            content: "";
            position: absolute;
            right: -9px;
            top: 16px;
            transform: rotate(90deg);
            width: 0;
            height: 0;
            background: transparent;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid hsla(0, 0%, 50%, .85);
        }
    }

    &:hover {
        background: #1c9c4b;

        span {
            display: inherit;
        }
    }
}