.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 .5rem;

	@media (max-width: 480px) {
		padding: 0 1rem;
	}
}

.is-flex {
	display: flex;
}

.hide {
	display: none;
} 

.gutter {
	@for $i from 1 through 20 {
		&-vertical-#{$i} {
			padding-top: calc(#{$i} * 1rem);
			padding-bottom: calc(#{$i} * 1rem);
		}

		&-horizontal-#{$i} {
			padding-left: calc(#{$i} * 1rem);
			padding-right: calc(#{$i} * 1rem);
		}

		&-top-#{$i} {
			padding-top: calc(#{$i} * 1rem);
		}

		&-bottom-#{$i} {
			padding-bottom: calc(#{$i} * 1rem);
		}
	}
}

.top-130 {
	margin-top: 130px;

	@media (max-width: 768px) {
		margin-top: 120px;
	}
}