@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #d9d9d9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header .nav-bar {
  height: 100px;
}
.header .nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  height: -webkit-fill-available;
}
.header .nav-bar__brand .app-brand {
  display: flex;
  align-items: center;
}
.header .nav-bar__brand .app-brand__logo {
  max-width: 170px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .header .nav-bar__brand .app-brand__logo {
    max-width: 120px;
  }
}
.header .nav-bar__menu {
  display: flex;
  align-items: center;
}
.header .nav-bar__menu .nav-bar__mobile-menu {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header .nav-bar__menu .nav-bar__mobile-menu span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #333333;
  margin-bottom: 4px;
}
.header .nav-bar__menu .nav-bar__mobile-menu span:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .header .nav-bar__menu .nav-bar__mobile-menu {
    display: block;
  }
  .header .nav-bar__menu #main-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f9f9f9;
    padding: 1rem 0 2rem;
    z-index: 9999;
    margin: 0;
  }
  .header .nav-bar__menu.nav-bar__menu--active {
    display: flex !important;
  }
}
@media screen and (max-width: 768px) {
  .header .nav-bar {
    height: 80px;
  }
}
.header .menu-top {
  background-color: #b41ef5;
}
.header .menu-top .container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  height: 34px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .menu-top .container {
    justify-content: space-evenly;
    height: 40px;
  }
}
.header .menu-top .icon-instagram:before {
  content: url("./../imgs/icon-ig.svg");
}
.header .menu-top .icon-telegram:before {
  content: url("./../imgs/icon-telegram.svg");
}
.header .menu-top .icon-linkedin:before {
  content: url("./../imgs/icon-ln.svg");
}
.header #main-menu {
  display: flex;
  gap: 1.25rem;
}
.header #main-menu li {
  list-style: none;
}
.header #main-menu li a {
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.625rem 0;
  transition: color 0.3s ease;
}
.header #main-menu li a:hover {
  color: #b41ef5;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}
@media (max-width: 480px) {
  .container {
    padding: 0 1rem;
  }
}

.is-flex {
  display: flex;
}

.hide {
  display: none;
}

.gutter-vertical-1 {
  padding-top: calc(1 * 1rem);
  padding-bottom: calc(1 * 1rem);
}
.gutter-horizontal-1 {
  padding-left: calc(1 * 1rem);
  padding-right: calc(1 * 1rem);
}
.gutter-top-1 {
  padding-top: calc(1 * 1rem);
}
.gutter-bottom-1 {
  padding-bottom: calc(1 * 1rem);
}
.gutter-vertical-2 {
  padding-top: calc(2 * 1rem);
  padding-bottom: calc(2 * 1rem);
}
.gutter-horizontal-2 {
  padding-left: calc(2 * 1rem);
  padding-right: calc(2 * 1rem);
}
.gutter-top-2 {
  padding-top: calc(2 * 1rem);
}
.gutter-bottom-2 {
  padding-bottom: calc(2 * 1rem);
}
.gutter-vertical-3 {
  padding-top: calc(3 * 1rem);
  padding-bottom: calc(3 * 1rem);
}
.gutter-horizontal-3 {
  padding-left: calc(3 * 1rem);
  padding-right: calc(3 * 1rem);
}
.gutter-top-3 {
  padding-top: calc(3 * 1rem);
}
.gutter-bottom-3 {
  padding-bottom: calc(3 * 1rem);
}
.gutter-vertical-4 {
  padding-top: calc(4 * 1rem);
  padding-bottom: calc(4 * 1rem);
}
.gutter-horizontal-4 {
  padding-left: calc(4 * 1rem);
  padding-right: calc(4 * 1rem);
}
.gutter-top-4 {
  padding-top: calc(4 * 1rem);
}
.gutter-bottom-4 {
  padding-bottom: calc(4 * 1rem);
}
.gutter-vertical-5 {
  padding-top: calc(5 * 1rem);
  padding-bottom: calc(5 * 1rem);
}
.gutter-horizontal-5 {
  padding-left: calc(5 * 1rem);
  padding-right: calc(5 * 1rem);
}
.gutter-top-5 {
  padding-top: calc(5 * 1rem);
}
.gutter-bottom-5 {
  padding-bottom: calc(5 * 1rem);
}
.gutter-vertical-6 {
  padding-top: calc(6 * 1rem);
  padding-bottom: calc(6 * 1rem);
}
.gutter-horizontal-6 {
  padding-left: calc(6 * 1rem);
  padding-right: calc(6 * 1rem);
}
.gutter-top-6 {
  padding-top: calc(6 * 1rem);
}
.gutter-bottom-6 {
  padding-bottom: calc(6 * 1rem);
}
.gutter-vertical-7 {
  padding-top: calc(7 * 1rem);
  padding-bottom: calc(7 * 1rem);
}
.gutter-horizontal-7 {
  padding-left: calc(7 * 1rem);
  padding-right: calc(7 * 1rem);
}
.gutter-top-7 {
  padding-top: calc(7 * 1rem);
}
.gutter-bottom-7 {
  padding-bottom: calc(7 * 1rem);
}
.gutter-vertical-8 {
  padding-top: calc(8 * 1rem);
  padding-bottom: calc(8 * 1rem);
}
.gutter-horizontal-8 {
  padding-left: calc(8 * 1rem);
  padding-right: calc(8 * 1rem);
}
.gutter-top-8 {
  padding-top: calc(8 * 1rem);
}
.gutter-bottom-8 {
  padding-bottom: calc(8 * 1rem);
}
.gutter-vertical-9 {
  padding-top: calc(9 * 1rem);
  padding-bottom: calc(9 * 1rem);
}
.gutter-horizontal-9 {
  padding-left: calc(9 * 1rem);
  padding-right: calc(9 * 1rem);
}
.gutter-top-9 {
  padding-top: calc(9 * 1rem);
}
.gutter-bottom-9 {
  padding-bottom: calc(9 * 1rem);
}
.gutter-vertical-10 {
  padding-top: calc(10 * 1rem);
  padding-bottom: calc(10 * 1rem);
}
.gutter-horizontal-10 {
  padding-left: calc(10 * 1rem);
  padding-right: calc(10 * 1rem);
}
.gutter-top-10 {
  padding-top: calc(10 * 1rem);
}
.gutter-bottom-10 {
  padding-bottom: calc(10 * 1rem);
}
.gutter-vertical-11 {
  padding-top: calc(11 * 1rem);
  padding-bottom: calc(11 * 1rem);
}
.gutter-horizontal-11 {
  padding-left: calc(11 * 1rem);
  padding-right: calc(11 * 1rem);
}
.gutter-top-11 {
  padding-top: calc(11 * 1rem);
}
.gutter-bottom-11 {
  padding-bottom: calc(11 * 1rem);
}
.gutter-vertical-12 {
  padding-top: calc(12 * 1rem);
  padding-bottom: calc(12 * 1rem);
}
.gutter-horizontal-12 {
  padding-left: calc(12 * 1rem);
  padding-right: calc(12 * 1rem);
}
.gutter-top-12 {
  padding-top: calc(12 * 1rem);
}
.gutter-bottom-12 {
  padding-bottom: calc(12 * 1rem);
}
.gutter-vertical-13 {
  padding-top: calc(13 * 1rem);
  padding-bottom: calc(13 * 1rem);
}
.gutter-horizontal-13 {
  padding-left: calc(13 * 1rem);
  padding-right: calc(13 * 1rem);
}
.gutter-top-13 {
  padding-top: calc(13 * 1rem);
}
.gutter-bottom-13 {
  padding-bottom: calc(13 * 1rem);
}
.gutter-vertical-14 {
  padding-top: calc(14 * 1rem);
  padding-bottom: calc(14 * 1rem);
}
.gutter-horizontal-14 {
  padding-left: calc(14 * 1rem);
  padding-right: calc(14 * 1rem);
}
.gutter-top-14 {
  padding-top: calc(14 * 1rem);
}
.gutter-bottom-14 {
  padding-bottom: calc(14 * 1rem);
}
.gutter-vertical-15 {
  padding-top: calc(15 * 1rem);
  padding-bottom: calc(15 * 1rem);
}
.gutter-horizontal-15 {
  padding-left: calc(15 * 1rem);
  padding-right: calc(15 * 1rem);
}
.gutter-top-15 {
  padding-top: calc(15 * 1rem);
}
.gutter-bottom-15 {
  padding-bottom: calc(15 * 1rem);
}
.gutter-vertical-16 {
  padding-top: calc(16 * 1rem);
  padding-bottom: calc(16 * 1rem);
}
.gutter-horizontal-16 {
  padding-left: calc(16 * 1rem);
  padding-right: calc(16 * 1rem);
}
.gutter-top-16 {
  padding-top: calc(16 * 1rem);
}
.gutter-bottom-16 {
  padding-bottom: calc(16 * 1rem);
}
.gutter-vertical-17 {
  padding-top: calc(17 * 1rem);
  padding-bottom: calc(17 * 1rem);
}
.gutter-horizontal-17 {
  padding-left: calc(17 * 1rem);
  padding-right: calc(17 * 1rem);
}
.gutter-top-17 {
  padding-top: calc(17 * 1rem);
}
.gutter-bottom-17 {
  padding-bottom: calc(17 * 1rem);
}
.gutter-vertical-18 {
  padding-top: calc(18 * 1rem);
  padding-bottom: calc(18 * 1rem);
}
.gutter-horizontal-18 {
  padding-left: calc(18 * 1rem);
  padding-right: calc(18 * 1rem);
}
.gutter-top-18 {
  padding-top: calc(18 * 1rem);
}
.gutter-bottom-18 {
  padding-bottom: calc(18 * 1rem);
}
.gutter-vertical-19 {
  padding-top: calc(19 * 1rem);
  padding-bottom: calc(19 * 1rem);
}
.gutter-horizontal-19 {
  padding-left: calc(19 * 1rem);
  padding-right: calc(19 * 1rem);
}
.gutter-top-19 {
  padding-top: calc(19 * 1rem);
}
.gutter-bottom-19 {
  padding-bottom: calc(19 * 1rem);
}
.gutter-vertical-20 {
  padding-top: calc(20 * 1rem);
  padding-bottom: calc(20 * 1rem);
}
.gutter-horizontal-20 {
  padding-left: calc(20 * 1rem);
  padding-right: calc(20 * 1rem);
}
.gutter-top-20 {
  padding-top: calc(20 * 1rem);
}
.gutter-bottom-20 {
  padding-bottom: calc(20 * 1rem);
}

.top-130 {
  margin-top: 130px;
}
@media (max-width: 768px) {
  .top-130 {
    margin-top: 120px;
  }
}

.home-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.home-slider__wrapper {
  display: flex;
  transition: transform 0.5s ease;
}
.home-slider__slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}
.home-slider__slide img {
  width: 100%;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.4);
}
.home-slider__slide .container {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-slider__slide .container p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(37, 37, 37, 0.5);
  text-align: start;
  margin: 0;
  width: 100%;
  font-weight: 600;
}
.home-slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
.home-slider__nav:hover {
  background-color: #000000;
}
.home-slider__nav--prev {
  left: 40px;
}
.home-slider__nav--prev::before {
  content: url("./../imgs/icon-chevron.png");
  display: inline-block;
  scale: 0.6;
  position: relative;
  top: 2px;
  left: -2px;
}
.home-slider__nav--next {
  right: 40px;
}
.home-slider__nav--next::before {
  content: url("./../imgs/icon-chevron.png");
  transform: rotate(180deg);
  display: inline-block;
  scale: 0.6;
  position: relative;
  top: -2px;
  right: -2px;
}
@media (max-width: 768px) {
  .home-slider__slide img {
    height: 55vh;
  }
  .home-slider__slide .container {
    width: 100%;
    padding: 0 10px;
  }
  .home-slider__slide .container p {
    font-size: 1.5rem;
    padding: 0 3rem;
    text-align: center;
  }
  .home-slider__nav {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
  .home-slider__nav--prev {
    left: 10px;
    background-color: transparent;
  }
  .home-slider__nav--prev::before {
    scale: 0.4;
    left: -14px;
  }
  .home-slider__nav--next {
    right: 10px;
    background-color: transparent;
  }
  .home-slider__nav--next::before {
    scale: 0.4;
    right: 4px;
  }
}

.img-con-descripcion {
  position: relative;
}
.img-con-descripcion img {
  width: auto;
  height: 900px;
  position: absolute;
  top: 50px;
  left: -3%;
  z-index: 0;
}
@media (max-width: 1000px) {
  .img-con-descripcion img {
    left: -8%;
    height: 600px;
    opacity: 0.8;
    top: 0;
  }
}
.img-con-descripcion .text-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: rgba(238, 238, 238, 0.712);
}
.img-con-descripcion .text-container h2 {
  font-size: 2.75rem;
  margin-bottom: 0.625rem;
  font-weight: 800;
}
.img-con-descripcion .text-container p {
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .img-con-descripcion .text-container {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
  }
  .img-con-descripcion .text-container h2 {
    font-size: 2rem;
  }
}

.portfolio {
  background-color: #FFFFFF;
}
.portfolio h2 {
  font-size: 2.75rem;
  margin-bottom: 0.875rem;
  font-weight: 800;
  text-align: end;
}
.portfolio .cpt-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: 110px;
}
.portfolio .cpt-grid__item {
  position: relative;
  overflow: hidden;
}
.portfolio .cpt-grid__item:nth-child(1) {
  grid-row: span 2;
}
.portfolio .cpt-grid__item:nth-child(2) {
  grid-row: span 3;
}
.portfolio .cpt-grid__item:nth-child(3) {
  grid-row: span 2;
}
.portfolio .cpt-grid__item:nth-child(4) {
  grid-row: span 3;
}
.portfolio .cpt-grid__item:nth-child(5) {
  grid-row: span 2;
}
.portfolio .cpt-grid__item:nth-child(6) {
  grid-row: span 3;
}
.portfolio .cpt-grid__item:nth-child(7) {
  grid-row: span 2;
}
.portfolio .cpt-grid__item:nth-child(8) {
  grid-row: span 2;
}
.portfolio .cpt-grid__item:nth-child(9) {
  grid-row: span 2.5;
}
.portfolio .cpt-grid__image {
  position: relative;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .cpt-grid__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.3s ease;
}
.portfolio .cpt-grid__image .cpt-grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}
.portfolio .cpt-grid__image .cpt-grid__overlay h3 {
  margin: 0;
  font-size: 1.5rem;
}
.portfolio .cpt-grid__image .cpt-grid__overlay p {
  font-size: 1rem;
  padding: 0 20px;
  margin-top: 6px;
}
.portfolio .cpt-grid__image:hover img {
  opacity: 0.5;
}
.portfolio .cpt-grid__image:hover .cpt-grid__overlay {
  opacity: 1;
}
@media (max-width: 768px) {
  .portfolio .cpt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .cpt-grid .cpt-grid__overlay h3 {
    font-size: 1rem;
  }
  .portfolio .cpt-grid .cpt-grid__overlay p {
    font-size: 0.875rem;
    padding: 0 12px;
    margin-top: 4px;
  }
  .portfolio h2 {
    font-size: 2.375rem;
  }
}

/* Estilos generales para el formulario de Contact Form 7 */
.wpcf7 form {
  max-width: 800px;
  margin: 4rem auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 0.625rem rgba(92, 92, 92, 0.1);
  background-color: #FFFFFF;
}

.my-input-class {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.my-textarea-class {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 150px;
}

.container label {
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-size: 16px;
  color: #555;
}

.input-field:focus {
  border-color: #b41ef5;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 115, 230, 0.2);
  outline: none;
}

.wpcf7-submit {
  display: block;
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: #b41ef5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
}
.wpcf7-submit:hover {
  background-color: #000000;
}

.contact-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 4px;
}

.button--whatsapp {
  text-decoration: none;
  border-width: 2px;
  border-style: none;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #25D366;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999999;
  padding: 14px !important;
  transition: all 0.3s ease;
}
.button--whatsapp::after {
  content: url("./../imgs/icon-whatsapp.svg");
  scale: 1.1;
  top: 2px;
  position: relative;
  left: 0px;
}
.button--whatsapp span {
  display: none;
  position: absolute;
  left: -160px;
  top: 18px;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background: rgba(128, 128, 128, 0.85);
  color: #FFFFFF;
  padding: 12px;
  margin: 0 auto;
  font-size: 14px;
}
.button--whatsapp span::before {
  content: "";
  position: absolute;
  right: -9px;
  top: 16px;
  transform: rotate(90deg);
  width: 0;
  height: 0;
  background: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid hsla(0, 0%, 50%, 0.85);
}
.button--whatsapp:hover {
  background: #1c9c4b;
}
.button--whatsapp:hover span {
  display: inherit;
}

.footer {
  background-color: #f9f9f9;
  border-top: 1px solid #d9d9d9;
  padding: 1.25rem;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer__container .footer__logo a {
  display: flex;
  align-items: center;
}
.footer .footer__container .footer__logo a img {
  max-width: 150px;
  height: auto;
}
.footer .footer__container .footer__menu .footer__menu-list {
  display: flex;
  gap: 1.25rem;
}
.footer .footer__container .footer__menu .footer__menu-list li {
  list-style: none;
}
.footer .footer__container .footer__menu .footer__menu-list li a {
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 6px 0;
  transition: color 0.3s ease;
}
.footer .footer__container .footer__menu .footer__menu-list li a:hover {
  color: #b41ef5;
}
@media (max-width: 768px) {
  .footer .footer__container {
    flex-direction: column;
    gap: 1.25rem;
  }
  .footer .footer__container .footer__menu .footer__menu-list {
    flex-direction: column;
    gap: 0.625rem;
    padding: 0;
    text-align: center;
  }
}

main {
  overflow: hidden;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */